rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isTeacher() {
      return signedIn()
        && exists(
          /databases/$(database)/documents/users/$(request.auth.uid)
        )
        && get(
          /databases/$(database)/documents/users/$(request.auth.uid)
        ).data.role == "teacher";
    }

    match /users/{userId} {
      allow read:
        if signedIn()
        && (
          request.auth.uid == userId
          || isTeacher()
        );

      allow create, update, delete:
        if isTeacher();
    }

    match /courses/{courseId} {

      allow read:
        if signedIn()
        && (
          isTeacher()
          || resource.data.published == true
        );

      allow create, update, delete:
        if isTeacher();
    }

    match /courses/{courseId}/lessons/{lessonId} {

      allow read:
        if signedIn()
        && (
          isTeacher()
          ||
          (
            get(
              /databases/$(database)/documents/courses/$(courseId)
            ).data.published == true
            &&
            resource.data.published == true
          )
        );

      allow create, update, delete:
        if isTeacher();
    }

    match /settings/{settingId} {

      allow read:
        if signedIn();

      allow create, update, delete:
        if isTeacher();
    }
  }
}
